*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    overflow-x:hidden ;
}

nav{
    width: 100%;
    height: 75px;
    background-color: #587B8E;
    padding: 0 100px;
}

.header-navbar{
    box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.3);
}

.navbar-brand{
    padding: 0;
}

.navbar-brand img{
    width: 166px;
    height: 26px;
    object-fit: cover;
    margin-bottom: 5px;
}

.navbar-links{
    margin-top: 3px;
}

.navbar-expand-lg .navbar-nav .nav-link{
    color: #FFFFFF;
    font-size: 14px;
    letter-spacing: 2.1px;
    padding: 0 10px;
}

.search-bar{
    margin-left: 20px;
    position: relative;
}

.icon-link{
    position: relative;
    margin-left: 10px;
}

.icon-link::before{
    content: '';
    width: 2px;
    height: 18px;
    background-color: #FFFFFF;
    position: absolute;
    bottom: 4px;
    left: 0;
    /* transform: rotate(-90deg); */
}

.search-bar input{
    width: 195px;
    height: 34px;
    border: none;
}

.search-bar button{
    width: 39px;
    height: 33px;
    position: absolute;
    top: 1px;
    right: 0;
    border: none;
    background-color:#fff;
}

.semi-nav{
    width: 100%;
    position: relative;
    box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.3);
}

.semi-nav ul{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: center;
}

.semi-nav ul .nav-item .nav-link{
    color: #2E4962;
    font-size: 16px;
    padding: 26px 20px 25px;
    letter-spacing: 2.4px;
}

.dropdown-container{
    position: absolute;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    visibility: hidden;
    background-color: #fff;
    z-index: 10;
    transition: all 0.4s;
}

.container-one{
    width: 700px;
}

.dropdown-header{
    border-bottom: 2px solid #2E4962;
}

.dropdown-header h2{
    font-size: 16px;
    color: #2E4962;
}

.menu-one{
    width: 340px;
    border-bottom: 1px solid #2E4962;
    padding:15px 10px 15px 20px;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.menu-link{
    color: #373737;
    text-decoration: none;
    font-size: 14px;
}


.menu-one i{
    font-size: 12px;
    color: #587B8E;
}

.container-two{
    width: 350px;
}

.semi-nav ul li:nth-of-type(1):hover .dropdown-container{
    visibility: visible;
}

.carousel-container{
    position: relative;
    height: 500px;
    margin-bottom: 60px;
    z-index: 1;
}

.carousel-control-prev i{
    font-size: 45px;
    color: #2E4962;
    margin-left: 19px;
}

.carousel-control-next i{
    font-size: 45px;
    color: #2E4962;
    background-image: none;
    margin-right: 19px;
}

.carousel-indicator{
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.carousel-indicator button{
    width: 12px;
    height: 12px;
    background-color: #EBEBEB;
    border: none;
    border-radius: 50%;
}

.carousel-indicator .active{
    background-color: #587B8E;
}


/* brand */

.brand{
    padding: 40px 100px 60px;
    width: 100%;
}

.brand .header{
    margin: 0 auto;
    width: 146px;
    height: 78px;
}

.brand .header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.brand .cards{
    margin-top: 60px;
}

.brand .cards .item-group{
    margin-bottom: 20px;
}

.brand .cards .item{
    width: 530px;
    height: 120px;
    color: #717171;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    background-color: #D6D6D6;
}

/* category */

.category{
    background-color: #F7F4EF;
    padding: 100px;
}

.category .header{
    margin: 0 auto;
    width: 228px;
    height: 78px;
}

.category .header img{
    width: 100%;
    height: 100%;
}

.category .btn-container{
    margin-top: 60px;
    margin-bottom: 80px;
}

.btn-container .btn-groups{
    margin-bottom: 20px;
}

.btn-container .btn-groups .btn-cate{
    width: 255px;
    height: 50px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #2E4962;
    border-radius: 25px;
    color: #2E4962;
    transition: all 0.3s;
}

.btn-container .btn-groups .btn-cate:hover{
    background-color: #587B8E;
    color: #fff;
}

/* newarrival */

.new-arrival{
    margin-bottom: 100px;
}

.header.new-arri{
    width: 307px;
}

.header.new-arri img{
    width: 100%;
    height: 100%;
}

.new-arrival-container,.rank-container{
    margin-top: 60px;
}

.new-arrival-group,.rank-group{
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrival-card{
    width: 255px;
}

.arrival-image{
    width: 255px;
    height: 255px;
    margin-bottom: 30px;
}

.arrival-image img,.rank-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.arrival-desc,.rank-desc{
    text-align: center;
}

.arrival-desc p,.rank-desc p{
    font-size: 16px;
    color: #373737;
}

.arrival-desc .price,.rank-desc .price{
    font-size: 18px;
}

.category-btn{
    width: 208px;
    height: 53px;
    margin-left: auto;
    transition: all 0.3s;
}

.category-btn img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category-btn:hover{
    opacity: 0.5;
}

/* ranking */

.rank-card{
    width: 200px;
}

.rank-image{
    width: 200px;
    height: 200px;
    margin-bottom: 30px;
}

/* moblie view */

.mobile-nav{
    width: 100%;
    height: 82px;
    padding:0 25px;
}

.mobile-menu-btn{
    width: 25px;
    height: 25px;
}

.mobile-logo{
    width: 115px;
}

.mobile-cart-btn{
    width: 31px;
    height: 25px;
    padding-bottom: 2px;
    background-color: #2E4962;
}

.mobile-menu-btn img,
.mobile-logo img,
.mobile-cart-btn img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.mobile-menu{
    width: 307px;
    padding:30px 25px 10px;
    position: absolute;
    top: 82px;
    left: 0;
    background-color: #fff;
    z-index: 10;
    transform: translateX(-320px);
    transition: all 0.3s;
}

.mobile-menu.active{
    transform: translateX(0);
}

.mobile-search{
    position: relative;
    height: 35px;
    margin-bottom: 20px;
}

.form-search{
    width: 100%;
}

.mb-search{
    position: absolute;
    width: 15px;
    height: 17px;
    top: 50%;
    right: 11px;
    transform: translateY(-50%);
}

.mobile-login{
    width: 100%;
    height: 45px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #587B8E;
    color: #fff;
    margin-bottom: 20px;
}

.mobile-link{
    margin-bottom: 20px;
}

.mobile-link h2{
    position: relative;
    font-size: 17px;
    letter-spacing: 5.1px;
    color: #2E4962;
    padding-left: 18px;
    margin-bottom: 20px;
}

.mobile-link h2::before{
    content: '';
    width: 5px;
    height: 100%;
    background-color: #2E4962;
    position: absolute;
    left: 0;
    top: 0;
}

.mobile-link ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.mobile-link ul li{
    margin: 5px 0;
}

.mobile-link ul li a{
    text-decoration: none;
    color: #373737;
    font-size: 14px;
    letter-spacing: 2.1px;
}

@media screen and (max-width: 576px) {
    .carousel-container{
        height:375px;
    }

    .carousel,
    .carousel-inner,
    .carousel-item{
        height: 100%;
    }

    .carousel-item img{
        height: 100%;
        object-fit: cover;
    }

    .carousel-control-prev,
    .carousel-control-next{
        display: none;
    }

    .brand{
        padding: 0px 16px 43px;
    }

    .brand .header{
        width: 122px;
        height: 65px;
    }

    .brand .cards{
        margin-top: 25px;
    }

    .brand .cards .item-group{
        margin-bottom: 0;
    }

    .brand .cards .item{
        width: 100%;
        height: 78px;
        margin-bottom: 10px
    }

    .category{
        background-color: #F7F4EF;
        padding: 50px 15px;
    }

    .category .header{
        margin: 0 auto;
        width: 190px;
        height: 65px;
    }

    .category .btn-container{
        margin-top: 25px; 
        margin-bottom: 40px; 
    }

    .btn-container .btn-groups .btn-cate{
        width: 168px;
        height: 32px;
        font-size: 12px;
        margin-bottom: 10px;
    }

    
    .new-arrival{
        margin-bottom: 50px;
    }

    .header.new-arri{
        width: 256px;
    }

    .new-arrival-container,.rank-container{
        margin-top: 25px;
    }

    .new-arrival-group,.rank-group{
        margin-bottom: 25px;
        display: grid;
        grid-template-columns: auto auto;
    }

    .arrival-card{
        width: 168px;
    }

    .arrival-image{
        width: 168px;
        height: 168px;
        margin-bottom: 25px;
    }

    .arrival-desc p,.rank-desc p{
        font-size: 12px;
        color: #373737;
        letter-spacing: 1.8px;
    }

    .arrival-desc .price,.rank-desc .price{
        font-size: 14px;
        letter-spacing: 2.1px;
    }

    .category-btn{
        width: 113px;
        height: 37px;
        margin-left: auto;
        transition: all 0.3s;
    }

    .category-btn img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .rank-card{
        width: 168px;
    }
    
    .rank-image{
        width: 168px;
        height: 168px;
        margin-bottom: 25px;
    }
}